.form {
    --input-radius: 3px;
    --input-padding: 1em;

    fieldset {
        border: none;
        padding: var(--spacing-md) 0;
    }

    .grid {
        display: grid;
        gap: var(--spacing-md);
        grid-template-columns: 1fr;

        @media screen and (min-width: $breakpoint-md) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.form__footer {
    display: flex;
    justify-content: flex-end;
}

.form__body {
    .is-sent & {
        display: none;
    }
}

.form__confirmation {
    display: none;

    .is-sent & {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }
}

/*
   input
   ========================================================================== */

.input__label {
    display: block;
    font-family: var(--font-primary);
    font-weight: 600;
}

.input__element {
    border-radius: var(--input-radius);
    background-color: var(--color-white);
    box-shadow: 0 0 0 3px var(--color-disabled);
    border: none;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    padding: var(--input-padding);
    width: 100%;

    &:-webkit-autofill,
    &:-webkit-autofill:active {
        -webit-box-shadow: inset 0 0 0 30px var(--color-black) !important;
        -webkit-text-fill-color: inherit !important;
    }

    // hover
    &:hover + .input__label:hover::before {
        background-color: var(--color-cartes);
        -webit-box-shadow: inset 0 0 0 30px var(--color-black) !important;
    }

    // focus
    &:focus,
    &:-webkit-autofill:focus,
    &:focus + .input__label::before {
        background-color: var(--color-bg-primary);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        -webit-box-shadow: inset 0 0 0 40px var(--color-black) !important;
    }

    // autocomplete
    &::placeholder {
        color: var(--color-disabled);
    }
}

/*
   select
   ========================================================================== */
.select {
    position: relative;
    .input__element {
        appearance: none;
        padding-right: var(--spacing-md);

        &:invalid {
            color: var(--color-black);
        }
    }

    option {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    &::after {
        --size: 12px;
        content: '';
        background: url('../assets/icons/icon-chevron-down.svg') no-repeat 50%
            50%;
        background-size: 100%;
        height: var(--size);
        position: absolute;
        pointer-events: none;
        top: 50%;
        transform: translateY(50%);
        right: var(--input-padding);
        width: var(--size);
    }
}

/*
   textarea
   ========================================================================== */
.textarea {
    .input__element {
        resize: vertical;
        height: 150px;
    }
}

/*
   checkbox
   ========================================================================== */
.checkbox,
.radio {
    --active-scale: 1;

    .input__element {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .input__label {
        --size: 22px;
        cursor: pointer;
        overflow: visible;
        padding-left: calc(var(--size) + var(--spacing-sm));
        position: relative;

        &::before,
        &::after {
            content: '';
            height: var(--size);
            position: absolute;
            left: 0;
            top: 0;
            width: var(--size);

            box-shadow: 0 0 0 3px var(--color-disabled);
            border-radius: 3px;
        }

        &::before {
            background-color: var(--color-white);
            border-radius: var(--input-radius);
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
        }

        &::after {
            background: url('../assets/icons/icon-check.svg') no-repeat 50% 50%;
            background-size: 50%;
            opacity: 0;
            transform: scale(0);
            transition: all 0.4s $ease-in-out-expo;
        }
    }

    .input__element:checked + .input__label {
        &::after {
            opacity: 1;
            transform: scale(var(--active-scale));
        }
    }
}

.checkbox {
    .input__label::after {
        background: url('../assets/icons/icon-check.svg') no-repeat 50% 50%;
        background-size: 50%;
    }
}

.radio {
    .input__label {
        &::before {
            border-radius: 100%;
        }

        &::after {
            --active-scale: 0.4;

            background-color: var(--color-black);
            border-radius: 100%;
        }
    }
}

.method {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    max-width: 100%;

    .input__element {
        width: unset;
    }

    .radio_buttons {
        display: flex;
        gap: var(--spacing-md);

        @media screen and (max-width: $breakpoint-sm) {
            flex-direction: column;
        }
    }

    .form__list {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
    }
}

.subject {
    max-width: 50%;
}

.grid-fullwidth {
    grid-column: 1 / -1 !important;
}

/*
   error
   ========================================================================== */

.error {
    .input__element,
    &.checkbox .input__label::before,
    &.radio .input__label::before,
    .checkbox .input__label::before,
    .radio .input__label::before {
        box-shadow: inset 0 0 0 3px var(--color-error);
    }

    .input__label {
        color: var(--color-error);
    }

    .error_text {
        display: block;
    }
}

.error_text {
    margin-top: var(--spacing-xs);
    color: var(--color-error);

    transition: all 0.3s ease-in-out;

    display: none;
}
