/* ==========================================================================
   scrolly / component
   ========================================================================== */

.has-js {
    [data-scrolly='fromBottom'] {
        // declaration pour cacher lelement
        opacity: 0;
        transform: translateY(60px);
        transition: all 1.2s $ease-out-expo;
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromLeft'] {
        // declaration pour cacher lelement
        opacity: 0;
        transform: translateX(-60px);
        transition: all 1.2s $ease-out-expo;
        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromRight'] {
        // declaration pour cacher lelement
        opacity: 0;
        transform: translateX(60px);
        transition: all 1.2s $ease-out-expo;
        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromTop'] {
        // declaration pour cacher lelement
        opacity: 0;
        transform: translateY(-60px);
        transition: all 1.2s $ease-out-expo;
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='flipFromBottom'] {
        opacity: 0;
        transform: rotateX(180deg);
        transform-origin: bottom;
        transition: all 1.2s $ease-out-expo;
        &.is-active {
            opacity: 1;
            transform: rotateX(0deg);
        }
    }
}
