/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h1);
    line-height: 50.2px;
}

h2 {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h2);
    line-height: 41.6px;
}

h3 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h3);
    line-height: 31.8px;
}

h4 {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h4);
    line-height: 24.5px;
}

em {
    font-style: italic;
}
