{% include '_partials/_header.html' %}

<!--HERO SECTION-->
<section class="section hero">
    <div class="wrapper">
        <!--media-->
        <div class="hero__media">
            <img src="" alt="" />
            <img class="float" alt="" />
            <img class="float" alt="" />
        </div>
        <!--content-->
        <div class="hero__content">
            <h1 class="hero__title">TITRE DE LA PAGE</h1>
            <p class="hero__text">TEXTE D'INTRO</p>
            <a href="" class="button">BUTTON</a>
        </div>
    </div>
</section>

<!--MISSION-->
<section class="section mission">
    <div class="wrapper">
        <h2>SECTION TITLE</h2>
        <!--media-->
        <div class="mission__media">
            <img class="float" alt="" />
            <img class="float" alt="" />
        </div>
        <!--content-->
        <div class="mission__content">
            <h3>CONTENT TITLE</h3>
            <p>CONTENT DESCRIPTION</p>
        </div>
    </div>
</section>

<!--FUNCTIONS-->
<section class="section functions">
    <div class="wrapper">
        <h2>SECTION TITLE</h2>
        <div class="cards">
            <div class="card">
                <!--media-->
                <div class="card__media">
                    <img src="" alt="" />
                </div>
                <!--content-->
                <div class="card__content">
                    <h3>CARD TITLE</h3>
                    <p>CARD DESCRIPTION</p>
                </div>
            </div>
            <div class="card">
                <!--media-->
                <div class="card__media">
                    <img src="" alt="" />
                </div>
                <!--content-->
                <div class="card__content">
                    <h3>CARD TITLE</h3>
                    <p>CARD DESCRIPTION</p>
                </div>
            </div>
            <div class="card">
                <!--media-->
                <div class="card__media">
                    <img src="" alt="" />
                </div>
                <!--content-->
                <div class="card__content">
                    <h3>CARD TITLE</h3>
                    <p>CARD DESCRIPTION</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--UNIVERS-->
<section class="section univers">
    <div class="wrapper">
        <h2>SECTION TITLE</h2>
        <div class="cards">
            <a class="card hover">
                <!--media-->
                <div class="card__media">
                    <img src="" alt="" />
                </div>
                <!--content-->
                <div class="card__content">
                    <h3>CARD TITLE</h3>
                    <p>CARD DESCRIPTION</p>
                </div>
            </a>
            <a class="card hover">
                <!--media-->
                <div class="card__media">
                    <img src="" alt="" />
                </div>
                <!--content-->
                <div class="card__content">
                    <h3>CARD TITLE</h3>
                    <p>CARD DESCRIPTION</p>
                </div>
            </a>
            <a class="card hover">
                <!--media-->
                <div class="card__media">
                    <img src="" alt="" />
                </div>
                <!--content-->
                <div class="card__content">
                    <h3>CARD TITLE</h3>
                    <p>CARD DESCRIPTION</p>
                </div>
            </a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
