{% include '_partials/_header.html' %}

<!--HERO SECTION-->
<section class="section hero">
    <div class="wrapper">
        <!--media-->
        <div class="hero__media">
            <img src="" alt="" />
        </div>
        <!--content-->
        <div class="hero__content">
            <h1 class="hero__title">TITRE DE LA PAGE</h1>
            <p class="hero__text">TEXTE D'INTRO</p>
            <a href="" class="button">BUTTON</a>
        </div>
    </div>
</section>

<!--FUNCTIONS-->
<section class="section functions">
    <div class="wrapper"></div>
</section>

{% include '_partials/_footer.html' %}
