{% include '_partials/_header.html' %}

<!--HERO SECTION-->
<section class="section hero">
    <div class="wrapper">
        <!--content-->
        <div class="hero__content">
            <h1 class="hero__title">Notre équipe</h1>
            <p class="hero__text">
                Nous sommes une cellule clandestine de créateurs, hackers et archivistes culturels. Unis par la conviction que la culture appartient à tous,
                nous développons le Forbidden Book et alimentons ses archives. Chacun risque sa liberté pour préserver la vôtre.
            </p>
        </div>
        <section class="section functions">
            <div class="wrapper">
                <h2>SECTION TITLE</h2>
                <div class="cards">
                    <div class="card">
                        <!--media-->
                        <div class="card__media">
                            <img src="" alt="" />
                        </div>
                        <!--content-->
                        <div class="card__content">
                            <h3>CARD TITLE</h3>
                            <p>CARD DESCRIPTION</p>
                            <a href="">VOIR VIDEO</a>
                        </div>
                    </div>
                    <div class="card">
                        <!--media-->
                        <div class="card__media">
                            <img src="" alt="" />
                        </div>
                        <!--content-->
                        <div class="card__content">
                            <h3>CARD TITLE</h3>
                            <p>CARD DESCRIPTION</p>
                            <a href="">VOIR VIDEO</a>
                        </div>
                    </div>
                    <div class="card">
                        <!--media-->
                        <div class="card__media">
                            <img src="" alt="" />
                        </div>
                        <!--content-->
                        <div class="card__content">
                            <h3>CARD TITLE</h3>
                            <p>CARD DESCRIPTION</p>
                            <a href="">VOIR VIDEO</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

{% include '_partials/_footer.html' %}
