{% include '_partials/_header.html' %}

<!--HERO SECTION (oeuvre mise en vedette)-->
<section class="section hero">
    <div class="wrapper">
        <!--media-->
        <div class="hero__media">
            <img src="" alt="" />
        </div>
        <!--content-->
        <div class="hero__content">
            <h1 class="hero__title">TITRE DE LA PAGE</h1>
            <p class="hero__text">TEXTE D'INTRO</p>
            <a href="" class="button">BUTTON</a>
        </div>
    </div>
</section>

<!--INTRODUCTION-->
<section class="section intro">
    <div class="wrapper">
        <!--media-->
        <div class="intro__media">
            <img src="" alt="" />
        </div>
        <!--content-->
        <div class="intro__content">
            <h2>INTRO TITLE</h2>
            <h3>INTRO SUBTITLE</h3>
            <p>INTRO DESCRIPTION</p>
        </div>
    </div>
</section>

<!--CONTRIBUT-->
<section class="section contribut">
    <div class="wrapper">
        <!--content-->
        <div class="contribut__content">
            <h2>INTRO TITLE</h2>
            <h3>INTRO SUBTITLE</h3>
            <p>INTRO DESCRIPTION</p>
            <a href="">SUBMIT</a>
        </div>
    </div>
</section>

<!--OEUVRES-->
<section class="section art">
    <div class="wrapper">
        <h2>SECTION TITLE</h2>
        <div class="cards">
            <a class="card hover">
                <!--media-->
                <div class="card__media">
                    <img src="" alt="" />
                </div>
                <!--content-->
                <div class="card__content">
                    <h3>CARD TITLE</h3>
                    <p>CARD DESCRIPTION</p>
                </div>
            </a>
            <a class="card hover">
                <!--media-->
                <div class="card__media">
                    <img src="" alt="" />
                </div>
                <!--content-->
                <div class="card__content">
                    <h3>CARD TITLE</h3>
                    <p>CARD DESCRIPTION</p>
                </div>
            </a>
            <a class="card hover">
                <!--media-->
                <div class="card__media">
                    <img src="" alt="" />
                </div>
                <!--content-->
                <div class="card__content">
                    <h3>CARD TITLE</h3>
                    <p>CARD DESCRIPTION</p>
                </div>
            </a>
        </div>
    </div>
</section>

<!--INTERACTIONS-->
<section class="section interact">
    <div class="wrapper">
        <!--media-->
        <div class="interact__media">
            <img src="" alt="" />
        </div>
        <!--content-->
        <div class="interact__content">
            <h2>INTERACT TITLE</h2>
            <h3>INTERACT SUBTITLE</h3>
            <p>INTERACT DESCRIPTION</p>
        </div>
    </div>
</section>

<!--TESTEMONIES-->
<section class="section testemonies">
    <div class="wrapper">
        <h2>SECTION TITLE</h2>
        <div class="testemonies__card">
            <!--media-->
            <div class="testemonies__media">
                <img src="" alt="" />
            </div>
            <!--content-->
            <div class="testemonies__content">
                <h2>TESTEMONIAL TITLE</h2>
                <p>TESTEMONIAL QUOTE</p>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
